@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --baseColor: #1b263b;
  --componentColor: #415a77;
  --elementColor: #778da9;
  --baseColorHover: #233352;
}

.errorPage{
  background-color: tomato;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorPage img{
  width: 40vw;
}

.SuccessfulPucharse{
  background-color: green;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.SuccessfulPucharse img{
  width: 50vw;
}

body{
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: white;
  overflow-x: hidden;
}

button{
  padding: 10px;
  border-radius: 7px;
  background-color: var(--baseColor);
  border: none;
  color: white;
  transition: all ease .3s;
}

button:hover{
  background-color: var(--baseColorHover);
  cursor: pointer;
}

input{
  background-color: #778da9;
  border: 3px solid #1b263b;
  border-radius: 10px;
  width: 90%;
  height: 30px;
}

input::placeholder{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

h1{
  margin: 0;
}

.flyer{
  width: 85vw;
}

.PageBasis{
  width: 100vw;
  min-height: calc(100dvh - calc(10dvh - 20px));
  background-color: var(--baseColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
  gap: 15px;
}

.mainRaffle{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flyer{
  border-radius: 10px;
}

.ModalBase{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all ease 0.3s;
}

.UserAgreeModal{
  width: calc(80vw - 30px);
  height: calc(55vh - 30px);
  background-color: var(--componentColor);
  padding: 15px;
  border-radius: 20px;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.UserAgreeModal p{
  margin: 0;
}

.NavBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--componentColor);
  padding: 10px;
  width: calc(100vw - 20px);
  height: calc(10vh - 20px);
}

.NavBar .menuIcon{
  width: 30px;
}

.NavBar .menuBackDrop{
  /* z-index: 3; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row-reverse;
}

.NavBar .menuBackDrop .menu{
  /* z-index: 5; */
  background-color: var(--componentColor);
  height: calc(100vh - 30px);
  width: calc(40vw - 30px);
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 19px 10px 15px 15px;
  gap: 20px;
  text-align: end;
}

.NavBar .hideMenu{
  animation: hideMenu .5s forwards;
}

.NavBar .showMenu{
  position: relative;
  left: 39%;
  animation: showMenu .5s forwards;
}

.listContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.listContainer .listItem{
  width: 80vw;
  background-color: var(--elementColor);
  padding: 15px;
  border-radius: 15px;
}

.listContainer h1, .listContainer h3{
  margin: 0;
}


.RandomTickets{
  background-color: var(--componentColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(85vw - 20px);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

.RandomTickets .Selector{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 20px;
  background-color: var(--elementColor);
}

.RandomTickets .Selector button{
  height: 100%;
  font-size: 5vw;
  width: 20vw;
}

.RandomTickets .Selector .MinusButton{border-radius: 20px 0 0 20px;}
.RandomTickets .Selector .PlusButton{border-radius: 0 20px 20px 0;}

.RandomTickets form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.TicketsSelector{
  background-color: var(--componentColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(85vw - 20px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* .TicketsSelector h3{
  margin: 0;
} */

.TicketsSelector .numbersContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.TicketsSelector .numbersContainer button{
  width: 15%;
}

.TicketsSelector .numbersContainer .sold{
  background-color: gray;
}

.TicketsSelector .numbersContainer .selected{
  background-color: teal;
}

.SupportLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 15dvh;
}

.SupportLink img{
  width: 50vw;
}

.SupportLink .Button{
  background-color: #25D366;
  padding: 10px;
  border-radius: 20px;
}

.blendOut{
  opacity: 1;
  animation: blendOut 0.3s forwards;
}

.blendIn{
  opacity: 0;
  animation: blendIn 0.3s forwards;
}

.reduce{
  scale: 1;
  animation: reduce 0.3s forwards;
}

@keyframes blendOut {
  to { opacity: 0; display: none;}
}

@keyframes blendIn {
  to { opacity: 1; display: flex;}
}

@keyframes reduce { 
  to { scale: 0; }
}

@keyframes hideMenu {
  to { transform: translateX(100%); display: none;}
}

@keyframes showMenu {
  to { transform: translateX(-100%); display: flex;}
}

.NavBar .hidden{display: none;} 


.Footer{
  background-color: var(--componentColor);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer p{
  margin: 0;
}

.Accounts{
  background-color: var(--componentColor);
  width: calc(90vw - 30px);
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 0px;
}

.Accounts h2{
  margin: 0;
}

.Accounts h3{
  margin: 3px;
}

.Accounts img{
  width: 70%;
}

.VerifyPage{
  background-color: var(--componentColor);
  display: flex;
  margin-top: 10px;
  width: 80vw;
  min-height: 90vh;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 25px 20px 10px 20px;
}

.VerifyPage .ticket{
  text-align: start;
  width: 70vw;
}

.dashboardNavBar{
  background-color: var(--componentColor);
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.dashboardNavBar .buttons{
  display: flex;
  gap: 15px;
}

.dashboardRaffleTile{
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background-color: var(--componentColor);
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
}

.dashboardRaffleTile img{
  max-width: 200px;
  max-height: 200px;
}

.dashboardRaffleTile h1, .dashboardRaffleTile h3{margin: 0;} 

.Dashboard .listContainer .listItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.Dashboard .listContainer .listItem .info h4{
  margin: 0;
}

.Dashboard .listContainer .listItem .buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Dashboard form{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--componentColor);
  padding: 20px;
  border-radius: 15px;
}

.Dashboard form label{
  align-self: self-start;
  margin-left: 2.5vw;
}

.Dashboard form button{
  margin-top: 30px;
}

.Dashboard .listContainer .listItemMainDashboard{
  justify-content: start;
}

.Dashboard .listContainer .listItemMainDashboard img{
  max-width: 120px;
  max-height: 120px;
}

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage .loginForm{
  background-color: var(--componentColor);
  width: 50vw;
  height: 65vh;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.loginPage .loginForm label{
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 30px;
}

.loginPage .loginForm button{
  margin: 20px;
}

.pagination{
  display: flex;
  align-items: center;
  background-color: var(--componentColor);
  padding: 25px;
  border-radius: 15px;
  gap: 10px;
}

.SoldBar{
  background-color: var(--elementColor);
  height: 40px;
  width: 70vw;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.SoldBar .SoldArea{
  background-color: var(--componentColor);
  height: 40px;
}

.SoldBar h4{
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0;
}